<section id="page-login">
  <h2 class="logo">starter</h2>
  <div class="form">
	  <div class="form__content">
		  <p class="text-light-grey">Rellena los campos de usuario y contraseña para acceder a tu administrador</p>
		  <div class="fields">
			  <div class="field">
				  <label for="">Email</label>
				  <input type="text">
			  </div>
			  <div class="field">
				  <label for="">Contraseña</label>
				  <input type="text">
			  </div>
			  <a href="/" class="button button-primary">INICIAR SESIÓN</a>
			  <div class="fields__link">
				  <a href="">¿No recuerdas la contraseña? <span>Haz click aqui</span></a>
			  </div>
		  </div>
	  </div>
  </div>
  <div class="image">
    <div class="image__content">
      <img src="/assets/images/Page-1.svg" alt="">
      <h3>Aenean eu leo quam, Pellentesque ornare sem lacinia quam vaneatis vestibulum. Cum soclis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</h3>
    </div>
    <img src="/assets/images/background-login.jpeg" alt="">
  </div>
</section>
