.fonticon(@code) {
  content: @code;
  font-family: @icoFont;
  .font-size(@font-size-xlarge);
  line-height: @line-height-small;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right:0.25em;
  text-indent: 0;
}

/*
.fonticon_gear() {
  .fonticon("\e90d");
}*/
