@header-height: 7.5rem;

.header {
    .flex-display;
    .justify-content(space-between);
    .align-items(center);
    .flex-wrap(wrap);
    width: 100%;
    border-bottom: 1px solid @light;
    padding: 0 0 2rem;
    column-gap: 2rem;
    row-gap: 1rem;
    
    @media @small-up {
        max-height: @header-height;
        padding: 0 2rem 1rem;
    }

    &__right {
        .flex-display;
        .justify-content(space-between);
        .align-items(center);
        .flex-wrap(wrap);
        column-gap: 2rem;
        row-gap: 1rem;

        .select-custom, .field {
            min-width: 20rem;
            width: 20rem;
            margin: 0;

            @media @large-up {
                min-width: 30rem;
            }

            @media @small-up {
                margin: 1rem 0;
            }
        }
    }

    .button {
        .font-size(0);

        @media @small-up {
            margin: 1rem 0;
            .font-size(1.6);
        }
    }

    .icon--arrow-right {
        &::after {
            margin: 0;
            margin-right: 1rem;

        }
    }

    .icon--arrow-left {
        &:before {
            margin: 0;
            margin-left: 1rem;
        }
    }
}