<header class="header">
    
    <div class="header__right">

        <div class="fields">

            <div class="select">                             
                <select class="select" name="" id="">
                    <option>1º Generación</option>
                    <option>2º Generación</option>
                    <option>3º Generación</option>
                    <option>4º Generación</option>
                    <option>5º Generación</option>
                    <option>6º Generación</option>
                    <option>7º Generación</option>
                    <option>8º Generación</option>
                </select>
            </div>
    
            <div class="field field--search">
                <input placeholder="Buscar..." type="text">
            </div>

        </div>

    </div>

</header>