<div class="sidebar">
    <div class="sidebar__button" id="sidebar__btn">
        <img src="/assets/images/icons/sidebar/collapse.png" class="collapse" alt="Logo">
    </div>
    <div class="sidebar__header">
        <img src="/assets/images/icons/sidebar/Logo2.png" class="logo" alt="Logo">
        <img src="/assets/images/icons/sidebar/Logo.png" class="logo-icon" alt="Logo-Icon">
        <div class="nav-trigger"><i></i><i></i><i></i></div>
    </div>
    <nav class="sidebar__nav">
        <ul class="sidebar__ul">
            <li class="sidebar__li sidebar__li--active"><a href="/pokedex" class="sidebar__a icon icon--pokedex">Pokedex</a></li>
            <li class="sidebar__li"><a href="/movimientos" class="sidebar__a icon icon--move">Movimientos</a></li>
            <li class="sidebar__li"><a href="/maquinas" class="sidebar__a icon icon--machine">Maquinas</a></li>
            <li class="sidebar__li"><a href="/localizaciones" class="sidebar__a icon icon--location">Localizaciones</a></li>
            <li class="sidebar__li"><a href="/tabla" class="sidebar__a icon icon--table">Tabla de tipos</a></li>
            <li class="sidebar__li"><a href="/objetos" class="sidebar__a icon icon--object">Objetos</a></li>
            <li class="sidebar__li"><a href="/juegos" class="sidebar__a icon icon--game">Juegos</a></li>
            <li class="sidebar__li"><a href="/extras" class="sidebar__a icon icon--extra">Extras</a></li>
        </ul>
    </nav>
</div>
