@pokemon-details-grid-main: 39rem;
@pokemon-stats-box: 60rem;

.pokemon {
    &__main {
        width: 100%;
        min-width: 100%;
        position: relative;
        line-height: 2rem;
        transform-style: preserve-3d;
        gap: 1.5rem;
        // transition: 1s linear;
        .calc(min-height; "100vh - @{header-height} - 4.8rem - 2.5rem - 1px");
        .flex-display;
        .flex-column;
        background: @dark;
        padding: 3rem 0 3rem 4rem;
        border-radius: 2.4rem;
        box-shadow: 0px 4px 16px @black;
        flex: 1;
        min-height: auto;
        overflow-y: auto;
       
        @media (min-width: 1000px) and (max-width: 1500px) {
            .flex-display;
            .flex-row;
            padding: 3rem 4rem 3rem 2rem;
            max-height: 35rem;
        }

        @media (min-width: 1500px) {
            width: @pokemon-details-grid-main;
            max-width: @pokemon-details-grid-main;
            .calc(height; "100vh - @{header-height} - 4.8rem - 2.5rem - 1px");

        }  

        &__content {
            position: relative;
            .flex-display;
            .flex-wrap(wrap);
            gap: 2rem 3rem;
            margin-right: 4rem;
            border-top: 5px solid @grass-type;
            
            @media (min-width: 1000px) and (max-width: 1500px) {
                .flex-row;
                padding-top: 0;
                padding-left: 3rem;
                .flex-display;
                .flex-wrap(wrap);
                gap: 2.5rem 3rem;
                border-left: 5px solid @grass-type;
                border-top: 0;
                min-width: 40rem;
                // max-height: 35rem;
                margin-right: 0;
                overflow-y: auto;
            }

            @media (min-width: 1500px) {
                .flex-column;
                .flex-wrap(nowrap);
                margin-right: 3rem;
                padding-left: 0;
                border-left: 0;
                border-top: 5px solid @grass-type;
            }
        }
    }

    &__toggle-button {
        cursor: pointer;
        z-index: @z-index-high;
        
        &::before {
            position: absolute;
            top: 1rem;
            right: 0;
            .font-size(4) !important;
            z-index: @z-index-high;
            margin: 0;
            
            @media (min-width: 1000px) and (max-width: 1500px) {
                top: -1rem;
            }
        }

        &--back {
            transform: rotateY(180deg);
        }
    }

    &__img {
        max-width: 35rem;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-right: 0;
        .flex-display;
        .align-items(center);
        .justify-content(center);
        .text-center;
        margin: 0 auto;
        padding-right: 4rem;

        @media (min-width: 768px) and (max-width: 1500px) {
            .flex-display;
            object-fit: contain;
            min-width: 20%;
            height: 100%;
            border-bottom: 0;
            padding-right: 2rem;
        }
        
        @media (min-width: 1500px) {
            display: block;
            border-right: 0;
        }
    }

    &__info {
        width: 100%;
        // border-bottom: 1px solid @grey;
        
        @media @small-up {
            .flex-display;
            .flex-column;
        }

        @media (min-width: 1000px) and (max-width: 1500px) {
            display: block;
            margin-top: -2.5rem;
        }

        @media (min-width: 1500px) {
            width: auto;
        }

    }

    &__number {
        .bold-font;
        .font-size(3.2);
        color: @white;

        span {
            color: @grass-type;
        }
    }

    &__name {
        .bold-font;
        .font-size(2.4);
        color: @light;
        .uppercase;
        margin-top: -0.6rem;
        
        @media @small-up {
            margin-top: -1.2rem;
        }
    }

    &__types {
        .flex-display;
        .flex-column;
        .justify-content(center);

        @media @small-up {
            width: auto;
        }
    }

    &__type-content {
        .flex-display;
        .align-items(center);
        column-gap: 0.5rem;
    }

    &__type {
        .flex-display;
        .justify-content(center);
        .align-items(center);
        padding: 0.4rem 3rem 0;
        border-radius: 1.6rem;
        .bold-font;
        .font-size(1.6);
        max-width: 11rem;
        
        &--grass {
            color: @grass-type;
            border: 3px solid @grass-type;
        }

        &--poison {
            color: @poison-type;
            border: 3px solid @poison-type;
        }
    }

    &__item {
        width: 100%;
    }

    &__title {
        .bold-font;
        .font-size(1.8);
        color: @white;
        .uppercase;
    }

    &__text {
        .medium-font;
        .font-size(1.6);
        color: @light;
    }

    &__text-description {
        .medium-font;
        .font-size(1.6);
        color: @light;
        max-height: 7.5rem;
        // overflow-y: auto;
        width: 100%;
    }

    &__features {
        .flex-display;
        .align-items(center);
        gap: 3rem;
    }

    &__feature {
        .flex-display;
        .flex-column;
    }

    &__cry {
        // display: block;
        width: 100%;
    }

    &__cry-content {
        .flex-display;
        .justify-content(space-between);
        .align-items(center);
        max-width: 30rem;
        width: 100%;
        background: @dark-black;
        border-radius: 2.4rem;
        padding: 0 2rem;
        height: 5rem;

        .icon--play, .icon--pause {
            cursor: pointer;

            &:before {
                .font-size(2.8);
            }
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: @grey;
        border-radius: 50%;
        margin: 0 2rem 0 1.5rem;

        input {
            position: absolute;
            width: 100%;
            top: -9px;
            left: 0;
            cursor: pointer;
            z-index: @z-index-high;
            transition: 3s linear;
            opacity: 0;
            border: 0;
        }
    }

    &__bar {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: @light;
        top: 0;
    }

    &__dot {
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        background-color: @dark-black;
        border: 1px solid @light;
        left: 50%;
        top: -3.5px;
        transition: 1s linear;
        border-radius: 50%;
    }

    &__dot:before {
        content: '';
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        border: 1px solid @light;
        box-shadow: 0px 0px 8px @light;
        left: -1px;
        top: -1px;
        transition: 1s linear;
    }
    
    &__timer {
        .medium-font;
        .font-size(1.4);
        color: @white;
    }

    &__stats {
        position: relative;
        .flex-display;
        .flex-column;
        .justify-content(center);
        background: linear-gradient(153.9deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 0.01%, rgba(24, 27, 29, 0.05) 0.66%, rgba(255, 255, 255, 0.05) 100%);
        box-shadow: 0px 4px 16px @black;
        border-radius: 2.4rem;
        padding: 1.5rem 2rem 1.5rem 3rem;

        @media (min-width: 1500px) {
            width: 100%;
        }

        &__item {
            height: 5rem;
            .flex-display;
            .flex-row;
            .justify-content(flex-start);
            .align-items(center);
            column-gap: 2rem;
        }

        &__name {
            .bold-font;
            .font-size(2);
            color: @light;
            min-width: 11.5rem;
        }

        &__bar {
            position: relative;
            width: 30rem;
            height: 1rem;
            border-radius: 0.8rem;
            background-color: @grey;
        }

        &__bar2 {
            position: absolute;
            height: 100%;
            border-radius: 0.8rem;

            &--green {
                background-color: @grass-type;
            }

            &--yellow {
                background-color: @electric-type;
            }

            &--orange {
                background-color: @fire-type
            }

            &--red {
                background-color: #B30000;
            }
        }

        &__info {
            .flex-display;
            .align-items(center);

            .icon--arrow-up, .icon--arrow-down {
                &:before {
                    .font-size(3.5);
                    margin: 0;
                    margin-left: 0.5rem;
                }
            }

            .icon--arrow-up {
                &:before {
                    color: @grass-type;
                }
            }

            .icon--arrow-down {
                &:before {
                    color: #B30000;
                }
            }
        }

        &__number {
            .bold-font;
            .font-size(2);
            color: @light;
        }
    }
}